*{
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 500px){
    main{
       flex-direction: column;

    }

    main .contacto{
        width: 100%;
        height: 100%;  
        position: static;     
    }

    main .perfil {
        width: 100%;  
    }

    header {
        width: 100%;
        padding: 0 5%
    }
    
}


body{
    width: 100vw;
    height: 100vh; 
    position: relative;
}

/*--------header------------*/

header{
    display: flex;
    position: relative;
    width: 90%;
    background-color: rgba(245, 133, 189, 0.5);
    height: 150px; 
    border-radius: 15px;
    margin-bottom: 15px;
}

.intro{
    width: 80%;
    justify-content: center;
    text-align: center;
}


header h2{
    font-weight:lighter;
    margin-bottom: 25px;
    text-align: center;
}

header div img {
    position: relative;
    height: 100%;
    width: 90%;
    border-radius: 70px;
    left: 10%;}


header h1:hover{
    transform:scale(1.5,1.5);
    color: white;
}

/*--------main------------*/

main{
    display: flex;
  
}

main h2 {
    width: 100%;
    font-size: 28px;
    text-align: center;
}
 /* ----------main contacto---------------*/

.contacto {
    width: 30%;
    height: 100%;
    background-color: rgba(252, 198, 233, 0.7);
    border-radius: 15px; 
    padding-bottom: 4%;
    position: sticky;
    top: 0;
}

.contacto img {
    height: 13%;
    width: 13%;
    position: relative;
    left: 10%;
    top: -30px;
   } 

.contacto h3 {
    position: relative;
    left: 25%;
    top: -70px;
    width: 65%;
    margin: 5px;
    }

.contacto a {
    position: relative;
    top: -40px;
    left: 13%;
    margin-right: 25px;
    font-size: 20px;
}

.contacto p{
    padding-left: 15px;
    font-size: 20px; 
}

.contacto h2{
    margin: 45px 0 70px;
}

/*------------------main professional-------------*/

.Habilidades{
    border: solid 2px white;
    border-radius: 10px;
    height: 30px;
    width: 90%;
    position: relative;
    left: 5%;
    background: rgb(157,255,249);
    background: linear-gradient(90deg, rgba(157,255,249,1) 0%, rgba(157,255,249,1) 89%, rgba(253,234,246,1) 96%, rgba(253,234,246,1) 100%);
}
   
.Habilidades.Top {
    background: rgb(157,255,249);
}

.Habilidades.Dev {
    background: rgb(157,255,249);
    background: linear-gradient(90deg, rgba(157,255,249,1) 0%, rgba(157,255,249,1) 15%, rgba(253,234,246,1) 17%, rgba(253,234,246,1) 100%);
}
/*--------------------main perfil-------------*/

.perfil {
   justify-content: center;
   width: 60%;
}

.perfil h2 {
    text-align: center;
    width: 100%;    
    margin: 45px 0;
}


.perfil h3 {
    font-size: 20px;
    padding: 0 5%;
    text-align: justify;
}

.perfil h3 span {
    font-size: 15px;
    color: #9c9c9c; ;
}

.perfil p {
    padding: 0 7%;
}

.perfil h4 {
    color: #9c9c9c;
    padding: 0 8%;
    font-size: 16px;
}



.perfil .professional{
    text-align: justify;
    font-size: 20px;
    color: black;
    line-height: 25px;
    padding: 0 5%;
}

.experience{
    margin: 45px 0;
}

.experience h4{
    line-height: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #9c9c9c;
    font-weight:bold;
    text-align: justify;
}




