*{
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 600px){
    .contenido, .perfil {
        width: 100%;
    }
}


body{
    width: 1150px;
    height: 1500px;
    margin-left: 200px;
}

/*--------header------------*/

header{
    display: flex;
    top: 0px;
    width: 1150px;
    background-color: rgba(245, 133, 189, 0.5);
    height: 150px; 
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
    justify-content: flex-start;

}

.intro{
    width: 80%;
    justify-content: center;
    text-align: center;
}
]

header h2{
    font-weight:lighter;
    margin-bottom: 25px;
    text-align: center;
}

header div img {
    height: 100%;
    border-radius: 70px;
    margin-left: 40%;}


header h1:hover{
    transform:scale(1.5,1.5);
    color: white;
}

/*--------main------------*/

main{
    display: flex;

}

main h2 {
    width: 100%;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}
 /* ----------main contacto---------------*/

.contacto {
    width: 30%;
    background-color: rgba(252, 198, 233, 0.7);
    border-radius: 15px;
    padding-bottom: 35px;
   
}
.contacto img {
    height: 65px;
    width: 65px;
    position: relative;
    top: 0;
    left: 20px;
   } 

.contacto h3 {
    position: relative;
    width: 100%;
    left: 110px;
    top: -70px
}

.contacto a {
    position: relative;
    width: 100%;
    top: -30px;
    left: 10%;
    margin-right: 25px;
    font-size: 20px;
}

.contacto p{
    padding-left: 15px;
    font-size: 20px;    
}

.contacto h2{
    padding-top: 10px;
}

.contacto .H{
    padding-top: 50px;
    padding-bottom: 40px;
}

/*------------------main professional-------------*/

.Habilidades{
    border: solid 3px rgb(253, 207, 215);
    border-radius: 10px;
    height: 30px;
    width: 90%;
    position: relative;
    left: 5%;
    background: rgb(157,255,249);
    background: linear-gradient(90deg, rgba(157,255,249,1) 0%, rgba(157,255,249,1) 89%, rgba(253,234,246,1) 96%, rgba(253,234,246,1) 100%);
}
   
.Habilidades.Top {
    background: rgb(157,255,249);
}

.Habilidades.Dev {
    background: rgb(157,255,249);
    background: linear-gradient(90deg, rgba(157,255,249,1) 0%, rgba(157,255,249,1) 8%, rgba(253,234,246,1) 9%, rgba(253,234,246,1) 100%);
}
/*--------------------main perfil-------------*/

.perfil {
 
   width: 70%;
   padding-left: 25px;
   
}

.perfil h2 {
    text-align: center;
    width: 100%;
}

.perfil li{
    width: 100%;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: bold;
}

/*------------------main Training----------------------*/

.Training ul,h4
{
    color: #9c9c9c
}

.Training ul,li
{
    line-height: 5px;
    
}

.contacto.H p
{
    line-height: 5px;
    color: red;
    font-weight: bold;
    
}


/*-----------------main professional-------------------*/


.professional{
    text-align: justify;
    font-size: 20px;
    padding: 0 30px;
    color: black;
    line-height: 25px;
}

.list li{
    line-height: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #9c9c9c;
    font-weight:bold;
}


/*------------------Footer---------------------------------*/

footer{
    
    background-color: rgba(245, 133, 189, 0.5);
    height: 80px; 
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

